name: CI (FHIR Validation)

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]
  workflow_dispatch:

jobs:

  JAVA_FHIR_VALIDATION:
    uses: medizininformatik-initiative/kerndatensatz-meta/.github/workflows/ci_java_validation.yml@master
    with:
      ref: ${{ github.event.pull_request.head.ref }}
      PATH_TO_CONFORMANCE_RESOURCES: fsh-generated/resources
      PATH_TO_EXAMPLES: fsh-generated/resources
      JAVA_VALIDATION_ENABLED: true
      JAVA_VALIDATION_OPTIONS: ${{ vars.JAVA_VALIDATION_OPTIONS }}
      JAVA_VALIDATOR_VERSION: ${{ vars.JAVA_VALIDATOR_VERSION }}
      VALIDATION_REPORT_INCLUDE: errors
      VALIDATION_REPORT_FILTERS: |
        #Skip issue with LOINC defined VS
        Observation-QualitaetspruefungBuffyCoat.json||*There is no declared filter called LIST*|Observation.​component[1].​value.​ofType(CodeableConcept)
        #Skip issue with CLO prefix
        Specimen-OrganoidLunge.json||*in the CodeSystem 'http://purl.obolibrary.org/obo/clo.owl'*|Specimen.​extension[1].​extension[0].​value.​ofType(CodeableConcept).​coding[0].​code
    secrets: inherit

  DOTNET_FHIR_VALIDATION:
    if: github.event_name != 'release'
    uses: medizininformatik-initiative/kerndatensatz-meta/.github/workflows/ci_dotnet_validation.yml@master
    with:
      ref: ${{ github.event.pull_request.head.ref || github.ref }}
      SUSHI_VERSION: ${{ vars.SUSHI_VERSION }}
    secrets: inherit